.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.auto.tfvars
*.auto.tfvars.json
*.tfvars
*.tfvars.json
!.terraform.lock.hcl
!*.tfvars.example
