project_id      = "replace-with-project-id"
region          = "replace-with-region"
app_name        = "replace-with-app-name"
environment     = "replace-with-environment"
instance_name   = "replace-with-instance-name"
container_image = "replace-with-region-docker.pkg.dev/replace-with-project/replace-with-repo/replace-with-image:replace-with-tag"

labels = {
  managed_by = "replace-with-manager-label"
  product    = "replace-with-product-label"
}

extra_env_vars = {
  ENABLE_SHERIFF_SALES = "false"
}
